<div *ngIf="game" (mouseover)="mouseHover=true" (mouseleave)="mouseHover=false"
      class="w-56 h-56 z-0 m-2 border-2 rounded-lg shadow-lg shadow-gray-300 bg-gray-900 border-gray-300 
             transition duration-700
             hover:scale-125 hover:z-50 hover:border-b-0 hover:rounded-b-none relative">
    <img class="rounded-t-lg" 
         [src]="game.background_image" 
         alt="Game Image"
         style="width: 224px; height: 150px;">
    <div class="p-2">
        <span *ngFor="let parentPlatform of game.parent_platforms">
            <mat-icon class="mr-2 platform-icons" [svgIcon]="parentPlatform.platform.slug"></mat-icon>
        </span>
        <div class="text-white tracking-tight font-bold text-base mt-2"
             [class.truncate]="!mouseHover">
            {{ game.name }}
        </div>
    </div>
    <div *ngIf="mouseHover" class="absolute w-56 p-2 -left-0.5 -bottom-7 border-x-2 border-b-2 rounded-b-lg bg-gray-900 border-gray-300">
        <!-- If more elements are added into this div, also adjust -bottom-7 -->
        <button class="text-white">
            review
        </button>
        <button class="text-white">
            details
        </button>
    </div>
</div>